@import 'tailwindcss';

@theme {
  --color-default: #0a101a;
  --color-primary: #18243a;
  --color-secondary: #334461;
  --color-tertiary: #55aaff;
  --color-accent: #ccffff;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@source '../../../node_modules/flowbite';
@plugin "flowbite/plugin";
