<div id="landing-container">
  <div id="laptop">
    <div id="laptop-screen">
      <nav id="menu">
        <ul>
          <li data-target="ctf">CTF</li>
          <li data-target="bug-bounty">Bug Bounty</li>
          <li data-target="cv">CV</li>
          <li data-target="minigames">Minigames</li>
          <li data-target="tools">Tools</li>
          <li data-target="blog">Blog</li>
        </ul>
      </nav>
    </div>
  </div>
</div>
