<% current_path = "" %>
<% subpaths = [".      (current page)", "..    (previous page)", "ctf   ", "about_me", "contact"] %>

<%= render_terminal(
  [
    {
      command: "ls -lah ~#{current_path}",
      outputs: subpaths.map do |subpath|
		"drwxrwxr-x  5 adrian adrian  4.0K #{@current_time} <a href='#{current_path}/#{subpath}' style='color: #{@paths_color};'>#{subpath}</a>"
    	end.unshift(
			"drwxrwxr-x  8 adrian adrian  4.0K #{@current_time} <a href='/' style='color: #{@paths_color};'>~     (home)</a> "
		)
    },
  ], 
  false
) %>
