<section class="homescreen m-0 flex flex-col items-center justify-center bg-gray-800 h-screen text-gray-100">
	<%= render_terminal("ls -lah", ["ctf", "bug_bounty", "CV", "minigames", "tools", "blog"], Time.now.strftime("%b %d %H:%M")) %>
</section>
