<div id="wrapper" style="perspective: 900px;">
	<div class="phone view_1" id="phone" style="width: 1000px; height: 700px;">
		<iframe id="frame" src="<%= landing_phone_path %>"></iframe>
	</div>
</div>
