  <div class="flex items-center justify-center min-h-screen">
    <div class="text-center p-10">
      <div class="text-8xl font-bold text-blue-800">
        <span id="status" class="animate-pulse">Processing...</span>
      </div>
    </div>
  </div>
