<h1>Willkommen auf meiner Website!</h1>
<p>Hier findest du CTFs, Bug Bounty Inhalte, und mehr.</p>
<nav>
  <ul>
    <li><a href="/ctf">CTFs</a></li>
    <li><a href="/bug_bounty">Bug Bounty</a></li>
    <li><a href="/resume">Resümee</a></li>
    <li><a href="/minigames">Minispiele</a></li>
    <li><a href="/tools">Tools</a></li>
    <li><a href="/blog">Blog</a></li>
  </ul>
</nav>
