<% contacts = [
  { name: "github", logo: "contact/github.webp", website: "https://github.com/AdrianJunge/" },
  { name: "linkedin", logo: "contact/linkedin.png", website: "https://www.linkedin.com/in/adrian-junge-998a63296/" },
  { name: "discord", logo: "contact/discord.jpg", website: "https://discord.com/users/305624492221267968" },
] %>
<%= render_terminal([], true) %>

<div class="content">
  <div class="contact-overview">
    <% contacts.each do |contact| %>
      <div class="contact-card">
        <a href="<%= contact[:website] %>" target="_blank" rel="noopener noreferrer">
          <%= image_tag(contact[:logo], class: "contact-image") %>
        </a>
      </div>
    <% end %>
  </div>
</div>
