@import "variables";
@import "rouge";

@import "landing";
@import "ctf";
@import "ctf_which";
@import "ctf_writeup";

.MathJax {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}
.MathJax.has-scroll {
    border-radius: 8px;
    border: 1px solid $color-accent;
    padding: 3vmin;
}

#taskbar-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    opacity: 0;
    height: 100dvh;
    display: flex;
    white-space: nowrap;
    flex-direction: column;
    z-index: 1000;
    align-items: flex-start;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
    padding-left: calc((#{$taskbar-size} - #{$taskbar-icon-size}) / 2.0);
    padding-top: 1vmin;
    border-right: 0.2dvh solid #4c566a;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    pointer-events: none;
}

#taskbar-left.expanded {
    width: calc(#{$taskbar-size} * 3);
    opacity: 1;
    pointer-events: auto;
}

#taskbar-left .taskbar-item:last-child {
    margin-top: auto;
}

.taskbar-item {
    width: 100%;
    margin-bottom: 1.5dvh;
}

.taskbar-link, .taskbar-button-container {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    flex-direction: row;
    width: 100%;
}

.taskbar-label {
    opacity: 0;
    margin: 1dvh;
    color: white;
    font-size: 2vmin;
}

.taskbar-link:hover .taskbar-icon,
.taskbar-button-container:hover .taskbar-icon {
    transition: transform 0.2s ease-in-out, background-color 1s ease;
    transform: scale(1.1);
    background-color: $color-accent;
}

.taskbar-link .taskbar-icon,
.taskbar-button-container .taskbar-icon {
    transition: transform 0.2s ease-in-out, background-color 1s ease;
    transform: scale(1);
}

.taskbar-icon {
    width: $taskbar-icon-size;
    height: $taskbar-icon-size;
    border-radius: 0.5dvh;
    border: $default-border;
    box-sizing: border-box;
}

.footer-icon {
    width: calc(#{$taskbar-icon-size} / 0.9);
    height: calc(#{$taskbar-icon-size} / 0.9);
    cursor: pointer;
    border-radius: 50%;
    border: $default-border;
    box-sizing: border-box;

    transition: transform 0.2s ease-in-out, background-color 1s ease;
    &:hover {
        transform: scale(1.1);
        background-color: $color-accent;
    }
}

.footer-info {
    font-size: 1.5vmin;
}

.menu-icon {
    padding: 1vmin;
    position: fixed;
    width: calc(#{$taskbar-icon-size} * 0.8);
    height: calc(#{$taskbar-icon-size} * 1.7);
    top: calc(50% - #{$taskbar-icon-size});
    left: 0;
    border-top-right-radius: 1vmin;
    border-bottom-right-radius: 1vmin;
    border: 0.3dvh solid #4c566a;
    border-left: none;
    box-sizing: border-box;

    transition: transform 0.2s ease-in-out, background-color 1s ease, left 0.3s ease-in-out;
    &:hover {
        transform: scale(1.1);
        background-color: $color-accent;
    }
}

#menu-icon-left {
    opacity: 0;
    z-index: -1;
}

#menu-icon-right {
    opacity: 1;
    z-index: 2000;
}

#menu-icon-right.shift {
    left: calc(#{$taskbar-size} * 3);
    opacity: 0;
    z-index: -1;
}

#menu-icon-left.shift {
    left: calc(#{$taskbar-size} * 3);
    opacity: 1;
    z-index: 2000;
}

.taskbar-icon img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    -webkit-user-drag: none;
    -ms-user-drag: none;
    box-sizing: border-box;
}

#terminal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 80%;
    height: 95%;
    border: 0.2dvh solid #4c566a;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.25rem;
    color: #f5f5f5;
    border-radius: 0.375rem;
    overflow: hidden;
    margin-left: calc(#{$taskbar-size} / 2);
    box-sizing: border-box;
}

#terminal-container.terminal-minimized {
    display: none;
}

.terminal-buttons {
    display: flex;
}

.terminal-header {
    position: absolute;
    top: 2vmin;
    left: 2vmin;
    right: 2vmin;
    display: flex;
    justify-content: flex-end;
    gap: 1vmin;
    z-index: 1001;
    box-sizing: border-box;
}

.terminal-button {
    width: 5vmin;
    height: 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 1vmin;
    box-sizing: border-box;

    transition: transform 0.2s ease-in-out;
    &:hover {
        transform: scale(1.5);
    }
}

.terminal-button img {
    filter: invert(1);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.button-icon {
    width: 100dvw;
    height: 100dvh;
    box-sizing: border-box;
}

.terminal-content {
    word-wrap: break-word;
    overflow: hidden auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    box-sizing: border-box;
}

.terminal-content::-webkit-scrollbar {
    width: 0;
    height: 0;
}
