html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden; /* Prevent scrolling */
  }
  
  .homescreen {
	position: relative; /* Contain the absolute positioning of stars */
	width: 100%;
	height: 100%;
  }
  
  .star {
	position: absolute;
	width: 2px;
	height: 2px;
	border-radius: 5px;
  }
  
  @keyframes twinkle {
	0% {
	  transform: scale(1, 1);
	  background: rgba(255, 255, 255, 0);
	  animation-timing-function: linear;
	}
	40% {
	  transform: scale(0.8, 0.8);
	  background: rgba(255, 255, 255, 1);
	  animation-timing-function: ease-out;
	}
	80% {
	  background: rgba(255, 255, 255, 0);
	  transform: scale(1, 1);
	}
	100% {
	  background: rgba(255, 255, 255, 0);
	  transform: scale(1, 1);
	}
}

  


.typing-command {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	border-right: 20px solid rgba(255, 255, 255, 0.75);
	width: 0;
	animation: typing 1s steps(var(--steps)) 1s 1 normal both, blink-caret 0.5s step-end infinite;
}

.last-typing-command {
	display: inline;
	overflow: hidden;
	white-space: nowrap;
	border-right: 20px solid rgba(255, 255, 255, 0.75);
	width: 0;
	animation: blink-caret 0.75s step-end infinite;
}

@keyframes typing {
	from {
	  	width: 0;
	}
	to {
	  	width: 100%;
	}
}

@keyframes blink-caret {
	50% {
	  	border-color: transparent;
	}
	100% {
	  	border-color: rgba(255, 255, 255, 0.75);
	}
}


#taskbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px; /* Breite der Taskleiste */
    height: 100vh; /* Vollständig in der Höhe */
    background-color: #2e3440; /* Ubuntu-ähnliche Farbe */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.taskbar-icon {
    width: 50px;
    height: 50px;
    margin: 10px 0;
    background-color: #3b4252; /* Standardfarbe der Symbole */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.taskbar-icon:hover {
    background-color: #4c566a; /* Hover-Effekt */
}

.taskbar-icon img {
    width: 35px;
    height: 35px;
    user-select: none; /* Kein Markieren möglich */
}

#terminal.terminal-minimized {
    display: none; /* Ausblenden des Fensters */
}

.terminal-buttons {
    display: flex;
    gap: 10px; /* Abstand zwischen den Buttons */
}

.terminal-button {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.terminal-button:hover {
    transform: scale(1.5); /* Vergrößerung beim Hover */
}

.button-icon {
    width: 100%;
    height: 100%;
}
