@import "variables";

.ctf-overview {
    display: grid;
    place-items: center;
    gap: 5dvh;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    place-content: center;
    width: 100%;
    height: 100%;
    padding: 5dvh;

    -ms-grid-columns: (1fr)[auto];
    -ms-grid-rows: auto;
    -webkit-display: grid;
    -webkit-grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.ctf-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1 / 1;
    max-width: 50vmin;
    border: var(--default-border);
    transform: translateZ(0);
    transition: transform 0.2s ease-in-out;

    &:not(.expanded):hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

.ctf-details {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #fff;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
    border-top: var(--default-border);
    border-bottom: var(--default-border);
    overflow: hidden;
    width: 100%;
    padding: 1vmin;
}

.ctf-name {
    font-size: 3vmin;
}

.ctf-description {
    flex-grow: 1;
    font-size: 1.5vmin;
    overflow: hidden;
    position: relative;
    max-height: 90%;
    max-width: 90%;
    flex-direction: column;
    justify-content: center;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
    text-overflow: ellipsis;
}

.ctf-card.expanded {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctf-card.expanded .ctf-details {
    display: flex;
}

.ctf-button-container {
    display: flex;
    justify-content: center;
    gap: 1vmin;
    width: 100%;
}

.ctf-button {
    font-size: 2vmin;
    display: inline-block;
    margin: 0.5vmin;
    padding: 0.7vmin 1.2vmin;
    background-color: #f1f1f1;
    justify-content: center;
    color: #333;
    border-radius: 1vmin;
    border: 0.3dvh solid #4c566a;
    box-sizing: border-box;
    max-height: 5vh;
    max-width: 20vw;

    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.ctf-button:hover {
    transform: scale(1.2);
    background-color: $color-tertiary;
    color: #fff;
    cursor: pointer;
}

.ctf-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
