.writeup-container {
  max-width: 100vh;
  margin: 2vh auto;
  padding: 4vh;
  border-radius: 3vh;
}

.writeup-title {
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 2vh;
}

.markdown-content {
  font-size: 1.75em;
  font-family: monospace;
}

.markdown-content h1, .markdown-content h2, .markdown-content h3, .markdown-content h4, .markdown-content h5, .markdown-content h6 {
  font-weight: bold;
  margin-top: 3vh;
  margin-bottom: 1vh;
  color: #fff;
}

.markdown-content h1 {
  font-size: 1.5em;
}

.markdown-content h2 {
  font-size: 1.25em;
}

.markdown-content h3 {
  font-size: 1em;
}

.markdown-content h4 {
  font-size: 0.75em;
}

.markdown-content h5 {
  font-size: 0.5em;
}

.markdown-content h6 {
  font-size: 0.25em;
}

.markdown-content p {
  color: #f1f1f1;
}

.markdown-content pre {
  background-color: #2e2e2e;
  color: #f1f1f1;
  padding: 0.5vh;
  margin: 2vh;
  border-radius: 1vh;
  font-family: monospace;
  overflow: auto;
}

.markdown-content a {
  color: #1e90ff;
  text-decoration: none;
}

.markdown-content a:hover {
  text-decoration: underline;
}

.markdown-content code {
  display: inline-block;
  padding: 0.25vh 0.5vh;
  background-color: #2e2e2e;
  color: #f1f1f1;
  border-radius: 0.5vh;
  font-family: monospace;
  font-size: 0.7em;
  line-height: 1.4;
}

.markdown-content img {
  margin: 1.5vh auto;
  border-radius: 1vh;
}
