@import "variables";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.highlight {
  background-color: #18243a;
}

.writeup-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.table-of-content {
  position: sticky;
  top: 1.5dvh;
  padding: 4dvh;
  border-radius: 3dvh;
  word-wrap: break-all;
  hyphens: manual;
  font-size: 2vmin;
}

.toc-anchor {
  transition: transform 0.2s ease, color 0.2s ease;
  padding-left: 1dvw;

  &:hover {
    color: $color-tertiary;
    text-decoration: underline;
  }
}

.active-anchor {
  position: relative;
  color: $color-accent !important;
  font-weight: bold;
  text-decoration: underline;
}

.active-anchor::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 100%;
  background-color: $color-accent;
}


@media (max-width: 1400px) {
  .table-of-content {
    display: none;
  }

  .writeup-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.writeup-container {
  flex: 3;
  max-width: 100dvw;
  padding: 4dvh;
  border-radius: 3dvh;
}

.writeup-year {
  font-size: 4vmin;
}

.writeup-title {
  text-align: center;
  font-size: 6vmin;
  font-weight: bold;
}

.markdown-content {
  word-wrap: break-word;
  word-break: break-word;
  font-size: 3vmin;
  font-family: monospace;
}

.markdown-content h1, .markdown-content h2, .markdown-content h3, .markdown-content h4, .markdown-content h5, .markdown-content h6 {
  font-weight: bold;
  margin-top: 3dvh;
  margin-bottom: 1dvh;
  color: #fff;
}

.markdown-content h1 {
  font-size: 1.5em;
}

.markdown-content h2 {
  font-size: 1.25em;
}

.markdown-content h3 {
  font-size: 1em;
}

.markdown-content h4 {
  font-size: 0.75em;
}

.markdown-content h5 {
  font-size: 0.5em;
}

.markdown-content h6 {
  font-size: 0.25em;
}

.markdown-content p {
  color: #f1f1f1;
}

.markdown-content pre {
  background-color: #2e2e2e;
  color: #f1f1f1;
  padding: 0.5dvh;
  margin: 2dvh;
  border-radius: 1dvh;
  font-family: monospace;
  overflow: auto;
}

.markdown-content a {
  color: #1e90ff;
  text-decoration: none;
}

.markdown-content a:hover {
  text-decoration: underline;
}

.markdown-content code {
  display: inline-block;
  padding: 0.25dvh 0.5dvh;
  background-color: #2e2e2e;
  color: #f1f1f1;
  border-radius: 0.5dvh;
  font-family: monospace;
  font-size: 0.7em;
  line-height: 1.4;
}

.markdown-content img {
  margin: 1.5dvh auto;
  border-radius: 1dvh;
}
