.header-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    position: absolute;      
    top: 0;
    left: 60px;              
    width: calc(100% - 60px);
    height: 100px;           
    z-index: 10;             
    margin-bottom: 30px;     
}
  
 
.header {
    font-size: 3rem;         
    font-weight: bold;       
    text-align: center;      
    margin: 0;               
    max-width: 100%;          
}
  

.writeup-content {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    padding: 60px;
    padding-top: 120px;
    overflow-y: auto;
}
.writeup-overview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-items: center;
    align-items: center;
}

.writeup-details {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
  
.writeup-card {
    height: 250px;
    background-color: #222024;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    transition: transform 0.2s ease-in-out;
}

.writeup-card:hover {
    transform: scale(1.1);
}
