body {
    display: grid;
    grid-template-rows: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 10vh;
}
.header:hover {
    transform: scale(1.1);
}

.header {
    transition: transform 0.2s ease-in-out;
}

.writeup-content {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    padding: 6vh;
    padding-top: 10vh;
    overflow-y: auto;
}
.writeup-overview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.writeup-card {
    min-height: 25vh;
    padding: 3vh;
    border-radius: 3vh;
    width: 90%;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.writeup-details {
    display: flex;
    flex-direction: column;
    padding: 3vh;
    flex-grow: 1;
    overflow-y: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    height: 100%;
}

.writeup-card p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    text-overflow: ellipsis;
}


@media (max-width: 768px) {
    .writeup-card {
        width: 100%;
        padding: 2vh;
    }

    .writeup-details {
        padding: 2vh;
        max-height: none;
        overflow-y: visible;
    }
}


.writeup-card:hover {
    transform: scale(1.1);
}
