@import "variables";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.highlight {
  background-color: #18243a;
}

.writeup-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 1.5dvh;
}

.writeup-container {
  flex: 1 1 70%;
  min-width: 45ch;
  padding: var(--taskbar-icon-size);
  border-radius: 3dvh;
}

.table-of-content {
  max-width: 25%;
  position: sticky;
  top: 1.5dvh;
  height: fit-content;

  padding: 4dvh;
  border-radius: 3dvh;
  word-wrap: break-all;
  hyphens: manual;
  font-size: 2vmin;
}

.toc-anchor {
  transition: transform 0.2s ease, color 0.2s ease;
  padding-left: 1dvw;

  &:hover {
    color: $color-tertiary;
    text-decoration: underline;
  }
}

.active-anchor {
  position: relative;
  color: $color-accent !important;
  text-decoration: underline;
}

.active-anchor::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 100%;
  background-color: $color-accent;
}


@media (max-width: 1400px) {
  .writeup-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .writeup-container {
    max-width: 100%;
  }

  #toc, .table-of-content {
    display: none !important;
  }

  #toc-toggle, .collapse-toc-button {
    display: none !important;
  }
}

.writeup-year {
  font-size: 4vmin;
}

.writeup-title {
  text-align: center;
  font-size: 6vmin;
  font-weight: bold;
}

.markdown-content {
  word-wrap: break-word;
  word-break: break-word;
  font-size: 3vmin;
  font-family: monospace;
}

.markdown-content h1, .markdown-content h2, .markdown-content h3, .markdown-content h4, .markdown-content h5, .markdown-content h6 {
  font-weight: bold;
  margin-top: 6dvh;
  margin-bottom: 1dvh;
  color: #fff;
}

.markdown-content h1 {
  font-size: 1.5em;
}

.markdown-content h2 {
  font-size: 1.25em;
}

.markdown-content h3 {
  font-size: 1em;
}

.markdown-content h4 {
  font-size: 0.75em;
}

.markdown-content h5 {
  font-size: 0.5em;
}

.markdown-content h6 {
  font-size: 0.25em;
}

.markdown-content p {
  color: #f1f1f1;
}

.markdown-content pre {
  background-color: #2e2e2e;
  color: #f1f1f1;
  padding: 0.5dvh;
  margin: 2dvh;
  border-radius: 1dvh;
  font-family: monospace;
  overflow: auto;
}

.markdown-content a {
  color: #1e90ff;
  text-decoration: none;
}

.markdown-content a:hover {
  text-decoration: underline;
}

.code-block {
  position: relative;
}

.markdown-content code {
  position: relative;
  display: inline-block;
  padding: 0.25dvh 0.5dvh;
  background-color: #2e2e2e;
  color: #f1f1f1;
  border-radius: 0.5dvh;
  font-family: monospace;
  font-size: 0.7em;
  line-height: 1.4;
  white-space: pre-wrap;
  word-break: break-word;
}

.markdown-content img {
  margin: 1.5dvh auto;
  border-radius: 1dvh;
}

.copy-btn {
  position: absolute;
  top: 0.5dvh;
  right: 2.5dvh;
  z-index: 100;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.2em;
  border-radius: 0.3em;
  font-size: 0.8em;
  color: #ccc;
  transition: background-color 0.2s ease;
}

.copy-btn:hover {
  background-color: $color-secondary;
}

.download-btn:hover, .open-pdf-btn:hover, .previous-writeup-btn:hover, .next-writeup-btn:hover {
  transition: transform 0.2s ease-in-out, background-color 1s ease;
  transform: scale(1.1);
  background-color: $color-accent;
}

.download-btn, .open-pdf-btn, .previous-writeup-btn, .next-writeup-btn {
  transition: transform 0.2s ease-in-out, background-color 1s ease;
  transform: scale(1);
}
