@import "variables";

.footer-icon {
    width: calc(var(--taskbar-icon-size) / 0.9);
    height: calc(var(--taskbar-icon-size) / 0.9);
    cursor: pointer;
    border-radius: 50%;
    border: var(--default-border);
    box-sizing: border-box;

    transition: transform 0.2s ease-in-out, background-color 1s ease;
    &:hover {
        transform: scale(1.1);
        background-color: $color-accent;
    }
}

.footer-info {
    font-size: 1.75vmin;
}