.landing-container {
    width: 60%;
    display: flex;
    gap: 10dvh;
    flex-direction: column;
    margin-bottom: 5ddvh;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    gap: 0.75dvh;
}

[class*="content-container"] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5dvh;
    flex-direction: row;

    @media (max-width: 900px) {
        display: flex;
        flex-direction: column;
    }
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5dvh;
}

.information-container {
    display: flex;
    flex-direction: column;
    gap: 5dvh;
}

.content-container-details {
    display: flex;
    flex-direction: column;
    gap: 0.75dvh;
}
