#landing-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

    @media screen and (min-width: 768px) {
        height: 100vh;
    }
}

#landing-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    margin-bottom: 5rem;
}

.info-cards-container {
    display: flex;
    margin: 2.5rem;
    gap: 1.5rem;
}

.info-cards-container img {
    width: 8dvh;
    height: 8dvh;
}

.profile-card, .ctfteam-card, .university-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-writeup-cards {
    gap: 1.5rem;
    max-width: 100dvh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

@media (max-width: 600px) {
    .info-cards-container {
        flex-direction: column;
        align-items: center;
    }
    #landing-top {
        margin-top: 5rem;
    }
    #scroll-down-button {
        display: none;
    }
    .writeup-card {
        width: 70% !important;
    }
}