$taskbar-size: 9vmin;
$taskbar-icon-size: 7vmin;
$default-border: 0.3vh solid #5d749e;

$color-default: #0a101a;
$color-primary: #18243a;
$color-secondary: #334461;
$color-tertiary: #55aaff;
$color-accent: #ccffff;
