<% current_path = "/ctf" %>
<% terminal_paths = @ctfs.map { |ctf| ctf["terminal_path"] } %>
<% subpaths = [".", ".."] %>
<% subpaths += terminal_paths %>

<%= render_terminal(
  [
    {
		command: "ls -lah ~#{current_path}",
		outputs: subpaths.map do |subpath|
      "drwxrwxr-x  5 adrian adrian  4.0K #{@current_time} <a href='#{current_path}/#{subpath}' class='text-blue-500'>#{subpath}</a>"
        end.unshift(
        "drwxrwxr-x  8 adrian adrian  4.0K #{@current_time} <a href='/' class='text-blue-500'>~</a>"
      )
    },
  ], 
  true
) %>

<div class="content">
  <div class="ctf-overview">
    <% @ctfs.each do |ctf| %>
      <div class="ctf-card">
        <%= image_tag(ctf["logo"]) %>
        <div class="overlay">
          <a href="<%= ctf["writeups"] %>">
            <button class="text-white border-4 border-white bg-gray-900 hover:scale-110 transition-transform duration-300 hover:text-black hover:bg-white focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-lg px-[2vw] py-[1.5vh] text-center inline-flex items-center dark:focus:ring-[#050708]/50 mb-[2vh]">
              Writeups
            </button>
          </a>
          <a href="<%= ctf["website"] %>" target="_blank" rel="noopener noreferrer">
            <button class="text-white border-4 border-white bg-gray-900 hover:scale-110 transition-transform duration-300 hover:text-black hover:bg-white focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-lg px-[2vw] py-[1.5vh] text-center inline-flex items-center dark:focus:ring-[#050708]/50 mb-[2vh]">
              Website
            </button>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>
