<%= render_taskbar_items([
    { image_path: 'task-bar/flag.svg', alt_text: "CTF Icon", label: "CTF", link: ctf_path },
]) %>
<% terminal_paths = @ctfs.map { |name, ctf| ctf["terminal_path"] } %>
<%= render_terminal(terminal_paths, true) %>

<div class="ctf-overview">
  <% @ctfs.each do |name, ctf| %>
    <div class="ctf-card">
      <%= link_to image_tag(ctf["logo"], alt: "#{name} Logo"), ctf["writeups"], class: "ctf-logo" %>
    </div>
  <% end %>
</div>
