<% current_path = "/ctf" %>
<% current_time = Time.now.strftime("%b %d %H:%M") %>

<% ctfs = [
  { terminal_path: "cscg", name: "CSCG", logo: "ctf/cscg.png", link: "https://cscg.de/" },
  # { terminal_path: "kitctf", name: "KITCTF", logo: "ctf/kitctf.png", link: "https://kitctf.de/" },
] %>
<% terminal_paths = ctfs.map { |ctf| ctf[:terminal_path] } %>
<% subpaths = [".", ".."] %>
<% subpaths += terminal_paths %>

<%= render_terminal(
  [
    {
		command: "ls -lah ~#{current_path}",
		outputs: subpaths.map do |subpath|
		"drwxrwxr-x  5 adrian adrian  4.0K #{current_time} <a href='#{current_path}/#{subpath}' class='text-blue-400'>#{subpath}</a>"
    	end.unshift(
			"drwxrwxr-x  8 adrian adrian  4.0K #{current_time} <a href='/' class='text-blue-400'>~</a>"
		)
    },
  ], 
  true
) %>

<div class="content">
  <div class="ctf-overview">
    <% ctfs.each do |ctf| %>
      <div class="ctf-card">
        <a href="<%= ctf[:link] %>" target="_blank" rel="noopener noreferrer">
          <%= image_tag(ctf[:logo], alt: "#{ctf[:name]}") %>
        </a>
      </div>
    <% end %>
  </div>
</div>
