<% current_path = "/ctf/#{@which}/#{@writeup}" %>
<% current_time = Time.now.strftime("%b %d %H:%M") %>
<% subpaths = [".", ".."] %>

<%= render_terminal(
  [
    {
		command: "ls -lah ~#{current_path}",
		outputs: subpaths.map do |subpath|
      "drwxrwxr-x  5 adrian adrian  4.0K #{current_time} <a href='#{current_path}/#{subpath}' class='text-blue-400'>#{subpath}</a>"
        end.unshift(
        "drwxrwxr-x  8 adrian adrian  4.0K #{current_time} <a href='/' class='text-blue-400'>~</a>"
      )
    },
  ], 
  true
) %>
<div class="writeup-container">
  <h1 class="writeup-title"><%= params[:writeup].gsub('.md', '').capitalize %></h1>
    <%= render_markdown(@markdown_content) %>
</div>
